<?xml version="1.0" encoding="iso-8859-1"?>
 <demolauncher>
   <demos>
    <example idpocket="PC 1245" filename="./" name="Sharp pc-1245" image=":/cover/pc1245.png"/>
    <example idpocket="MC 2200" filename="./" name="Seiko MC-2200" image=":/cover/mc2200.png" args="-maximize"/>
     <example idpocket="PC 1250" filename="./" name="Sharp pc-1250" image=":/cover/pc1250.png"/>
     <example idpocket="PC 1251" filename="./" name="Sharp pc-1251" image=":/cover/pc1251.png"/>
     <example idpocket="PC 1251H" filename="./" name="Sharp pc-1251H" image=":/cover/pc1251H.jpg"/>
     <example idpocket="PC 1255" filename="./" name="Sharp pc-1255" image=":/cover/pc1255.jpg"/>
     <example idpocket="PC 1260" filename="./" name="Sharp pc-1260" image=":/cover/pc1260.jpg"/>
     <example idpocket="PC 1261" filename="./" name="Sharp pc-1261" image=":/cover/pc1261.jpg"/>
     <example idpocket="PC 1262" filename="./" name="Sharp pc-1262" image=":/cover/pc1262.jpg"/>
     <example idpocket="PC 1280" filename="./" name="Sharp pc-1280" image=":/cover/pc1280.png"/>
     <example idpocket="PC 1350" filename="./" name="Sharp pc-1350" image=":/cover/pc1350.png"/>
     <example idpocket="PC 1360" filename="./" name="Sharp pc-1360" image=":/cover/pc1360.jpg"/>
     <example idpocket="PC 1401" filename="./" name="Sharp pc-1401" image=":/cover/pc1401.jpg"/>
     <example idpocket="PC 1402" filename="./" name="Sharp pc-1402" image=":/cover/pc1402.jpg"/>
     <example idpocket="PC 1403" filename="./" name="Sharp pc-1403" image=":/cover/pc1403.jpg"/>
     <example idpocket="PC 1403H" filename="./" name="Sharp pc-1403H" image=":/cover/pc1403h.jpg"/>
     <example idpocket="PC 1421" filename="./" name="Sharp pc-1421" image=":/cover/pc-1421.jpg"/>
     <example idpocket="PC 1450" filename="./" name="Sharp pc-1450" image=":/cover/pc1450.jpg"/>
     <example idpocket="PC 1460" filename="./" name="Sharp pc-1460" image=":/cover/pc-1460.jpg"/>
     <example idpocket="PC 1475" filename="./" name="Sharp pc-1475" image=":/cover/pc1475.jpg"/>
     <example idpocket="PC 1500" filename="./" name="Sharp pc-1500" image=":/cover/pc1500.jpg"/>
     <example idpocket="PC 1500A" filename="./" name="Sharp pc-1500A" image=":/cover/pc1500A.jpg"/>
     <example idpocket="PC 1600" filename="./" name="Sharp pc-1600" image=":/cover/pc-1600.jpg"/>
     <example idpocket="PC 2500" filename="./" name="Sharp pc-2500" image=":/cover/pc-2500.jpg"/>
     <example idpocket="Canon X-07" filename="./" name="Canon X-07" image=":/cover/x07.png"/>
     <example idpocket="PC-E500" filename="./" name="Sharp pc-E500" image=":/cover/pc-e500.png"/>
    <example idpocket="Casio PB-1000" filename="./" name="Casio PB-1000" image=":/cover/pb-1000.png"/>
   </demos>
 </demolauncher>
